alchemy==20.5
asgiref==3.8.1
blinker==1.9.0
certifi==2025.1.31
chardet==3.0.4
charset-normalizer==3.4.1
click==8.2.1
distlib==0.3.9
Django==5.2.1
docutils==0.21.2
filelock==3.0.12
filetype==1.2.0
idna==2.8
itsdangerous==2.2.0
Jinja2==3.1.6
lockfile==0.12.2
packaging==24.2
pexpect==4.9.0
pillow==11.1.0
platformdirs==4.3.7
psycopg2==2.9.10
ptyprocess==0.7.0
Pygments==2.19.1
pyparsing==3.2.3
pypiwin32==223
python-daemon==2.2.4
python-dateutil==2.9.0.post0
pywin32==310
requests==2.22.0
sh==2.2.2
six==1.17.0
SQLAlchemy==2.0.41
sqlparse==0.5.3
typing_extensions==4.13.2
tzdata==2025.2
urllib3==1.25.11
virtualenv==20.30.0
Werkzeug==3.1.3
